.page {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

/* Общие стили для ссылок */
.text-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
}

.address__item {
  display: block;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
}

/* Обложка */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
  padding-right: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-right: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  white-space: nowrap;
}

.bet-button:hover {
  background: #FFF;
  color: #000;
}

/* Лоты */
.lots {
  padding: 0 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.lots__card-list-item {
  width: calc((100% - 50px) / 3);
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
  color: #FFF;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-underline-position: under;
}

/* Об аукционе */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 8px 25px;
  padding: 0 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

/* Подвал */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer .address {
  text-align: left;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  width: 48px;
}